<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xiongda.ipc_messenger_server"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IpcMessengerServerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name=".IpcMessengerServerService"
            android:exported="true"
            android:process=":IpcMessengerServerService"
            />
        <!-- 实现夸应用绑定service需要android:exported属性设置为true,否则绑定时会报SecurityException的异常 -->
    </application>

</manifest>